<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
</head>

<body>
  <div class="container">
    <div style="display: flex"><app-title class="item title"></app-title></div>
    <div style="  display: flex;
  flex-direction: row;">
      <header class="item header">Header</header>
      <div class="item bill-entry "><app-bill-entry></app-bill-entry></div>
    </div>
    <main>
      <app-expense-table class="item sidebar-left" [billList]="billList"></app-expense-table>
      <app-bar-chart class="item sidebar-right" [billList]="billList"></app-bar-chart>
    </main>
    <footer class="item">Footer</footer>
  </div>
</body>

</html>