<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
</head>

<body>
  <div class="container">
    <main>
      <div class="item title"><app-title></app-title></div>
    </main>
    <main>
      <header class="item header">Header</header>
      <div class="item bill-entry "><app-bill-entry></app-bill-entry></div>
    </main>
    <main>
      <div class="item sidebar-left">
        <app-expense-table [billList]="billList"></app-expense-table>
      </div>
      <div class="item sidebar-right">
        <app-bar-chart [billList]="billList"></app-bar-chart>
      </div>

    </main>
    <footer class="item">Footer</footer>
  </div>
</body>

</html>