// mat-grid-tile {
//   background: lightblue;
// }
main {
  display: flex;
  flex-direction: row;
}
.item {
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  padding: 3rem 1rem;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
  margin: 6px;
}

.bill-entry {
  order: 1;
  flex: 2;
}

.header {
  order: 2;
  flex: 2;
}

.sidebar-left {
  order: 1;
  flex: 3;
}
article {
  order: 2;
  flex: 2;
}
.sidebar-right {
  order: 3;
  flex: 1;
}
