<table class="example-full-width" cellspacing="0">
    <tr>
        <td>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button checked="true" (change)="changeMoneyFlow($event)" value=2>Expense</mat-radio-button>
                <mat-radio-button (change)="changeMoneyFlow($event)" value=1>Income</mat-radio-button>
            </mat-radio-group>
        </td>
    </tr>
    <tr>
        <td><mat-form-field class="example-full-width">
                <mat-label>{{inputTitle}}</mat-label>
                <input (change)="billTitleUpdate($event)" matInput>
            </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
                <mat-label>Amount</mat-label>
                <input (change)="amountUpdateChange($event)" type="number" matInput>
            </mat-form-field></td>
    </tr>
</table>
<button class="button" (click)="submitData()" mat-raised-button color="primary">Enter</button>